<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Titulek"]</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <h1>@ViewData["Titulek"]</h1>
    <a href="/Uzivatel/Registrovat">Registrace</a>
    <a href="/Uzivatel/Prihlasit">Přihlášení</a>
    <a href="/Uzivatel/Profil">Profil</a>
    <hr />
    @RenderBody()
</body>
</html>
