@{
    ViewData["Titulek"] = "Přihlášení";
}

<form action="/Uzivatel/Prihlasit" method="post">
    <input type="text" name="jmeno" placeholder="Jméno..." /><br />
    <input type="password" name="heslo" placeholder="Heslo..." /><br />
    <input type="submit" value="Přihlásit" />
    <p class="chyba">@ViewData["chyba"]</p>
</form>
