@model _06_ASPNET.Models.Uzivatel

@{
    ViewData["Titulek"] = "Profil";
}

<p>Vítejte, <b>@Model.Jmeno</b>!</p>

<form action="/Uzivatel/Odhlasit" method="post">
    <input type="submit" value="Odhlásit" />
</form>
